<!--<p id="notice"><%= notice %></p>-->

<div class="show-message">
	<p>
	    <span><%= @message.date_message %></td>
	    <span><%= @message.text_message %></td>
	</p>
</div>

<% if user_signed_in? %>
    <%= render partial: "comments/template", locals: {commentable: @message, new_comment: @comment} %>
<% end %>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
